
:root {
    --dark-color:#19283f;
    --green-color : #33d1cc;
    --red : #ff3150;
    --yellow:#ffc400;
}
*{
    padding: 0;
    margin: 0;
}
body{
    padding: 0;
    margin: 0;
    height: 10000px;
}

/*theme menu navbar*/
    
.navbar{
    text-decoration: none;
    padding: 0px;
    margin: 0px;
    background-color: var(--dark-color) ;
    min-height: 40px;
    color: #ffc400 ; }
    /*القائمة  */

    .navbar .navbar-nav .nav-link{
        color: #ffc400;
    }
    /*button fon*/
    .navbar-toggler{
        margin: 10px;
        background-color: #eee;
        color: #ffc400;

    }

/*الوحده الاساسية لتشغيل dropdown*/

.navbar-nav .menu-item:hover .dropdown-menu{
    display: block;
}
    /*  لتغير اللون focus */

.navbar .navbar-nav a.active,
.navbar .navbar-nav a:focus,
.navbar .navbar-nav a:hover
{
  color:rgb(129, 187, 28);
  
 }
     /* تلوين و عمل خط قبل search  */

 .navbar .search{
    margin: 1px;
    border-left: 1px  solid var(--yellow);
 } 
 .navbar .search svg {
    margin: 4px;
color: var(--yellow);
 }

 body{
    background-color: #eee;
    margin:0px 0px 0px 0px;
    
 }
 
.main-post{
    margin: 20px 0 20px 0;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #d8d8d8;
    margin-bottom: 20px;


}


.main-post a {
    text-decoration: none; }
.main-post h3 a {
    margin: 0 0 10px;
    font-weight: bold;
    color: #777;
    letter-spacing: -1px;
}
.main-post img {
    display: block;
    margin: 10px 0 10px ;
}
.main-post i {
    color: #999;
}
.main-post .post-author,
.main-post .post-date,
.main-post .post-comments
 {
    font-size: 12px;
    color: #999;
}
.main-post .post-content
 {
    line-height: 1.7;
    color: #888;
}
.main-post .categories{
    font-size: 12px;
    color: #999;
}

.pagination{
    margin: 20px auto 20px;
    color: #33d1cc;
    overflow: hidden;
    text-align: center;
    width: auto;
    
    
    
}
.pagination a ,
.pagination span{
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 8px;
    text-decoration: none;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    margin: 0 20px 0 30px ;
    text-align: center;

}
.pagination span{
    opacity: .5;
    cursor: not-allowed;
}


.pagination a:hover{
    background-color: #333;
    color: #fff;

}




 
.footer{
background-color: #333;
color: #eee;
height:  60px;
position: fixed;
bottom: 0px;
left: 0;
width: 100%;
}  

